[submodule "rodrigondec/intro-docker"]
	path = rodrigondec/intro-docker
	url = https://github.com/rodrigondec/cpnatal2_intro-docker
[submodule "rodrigondec/intro-heroku"]
	path = rodrigondec/intro-heroku
	url = https://github.com/rodrigondec/cpnatal2_intro-heroku
